extends ../layout

block content
    br
    .container
        .row
            h3 Welcome to the UVA Scheduler!
            p Tell us a little bit about yourself! This information is used to your experience on our site.
        .row
            form(method="POST", action="/profile/new")
                .form-group.form-inline
                    label Preferred Name:
                    input.form-control(type="text" name="displayName", value=user.firstName, placeholder="eg. Alex", required)
                .form-group.form-inline
                    label School of Enrollment:
                    input.form-control(type="text", name="school", value=user.enrollmentData.school, placeholder="eg. School of Engineering")
                .form-group.form-inline
                    label Major:
                    input.form-control(type="text", name="major", value=user.enrollmentData.major, placeholder="eg. Computer Science (B.S.)")
                .form-group.form-inline
                    label Minor:
                    input.form-control(type="text", name="minor", value=user.enrollmentData.minor, placeholder="eg. Applied Mathematics")
                button.btn.btn-success(type="submit") Update My Info
