extends ../layout

block content
    .container
        .row
            h1.display-4(style="margin-top:15px;")
                small='Hi, ' + user.displayName + '!'
        .row
            .col-md-2.outline
                .row
                    h4.center.section-title My Info
                    hr
                .row
                    p Major: Computer Science (B.S.)
                .row
                    p 2nd Major: Electrical Engineering
                .row
                    p Minor: Mathematics
                .row
                    p School of Engineering and Applied Science (SEAS)
                .row
                    p Gratuating in 2021
                .row
                    a.btn.bg-uva-blue(href="/profile/edit") Edit My Info
            .col-md-8.outline
                .row
                    h4.center.section-title Weekly Schedule for Fall 2019
            .col-md-2.outline
                .row
                    h4.center.section-title Shopping Cart
                .row
                    p CS 2150
                .row
                    p CS 3710
        .row
            .col-md-2.outline
                .row
                    h4.center.section-title External Links
                    hr
                .row
                    if(user.enrollmentData.major)
                        a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="#") Major Requirements
                        if(user.enrollmentData.double_major)
                            a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="#") 2nd Major Requirements
                    if(user.enrollmentData.minor)
                        a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="#") Minor Requirements
                    a.btn.bg-uva-orange(style="margin-bottom:4px;width:100%;", href="https://sisuva.admin.virginia.edu/ihprd/signon.html" target="_blank") UVA SIS
            .col-md-10.outline
                h3.center.section-title This space for rent
