extends ../layout

block content
    div.container
        div.row
            h1.display-4
                small='Hi, ' + user.displayName + '!'
        div.row
            p='Full Name: ' + user.firstName + ' \'' + user.displayName + '\' ' + user.lastName
        div.row
            p Student ID: (todo)
        //- div.row
            //- p='Graduation Year: ' + gradYear
        div.row
            p(id='major1') Major: (todo)
        div.row
            button.btn.btn-default(type='button', data-toggle='dropdown', class="btn btn-outline-secondary")
                span.glyphicon.glyphicon-th-list
                    |  Major 1 
                    span.caret
                ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                    li
                        a(href="#major1") ...
                    li 
                        a(href="#major1") ...
        div.row
            p Major 2: (todo)
        div.row
            button.btn.btn-default(type='button', data-toggle='dropdown', class="btn btn-outline-secondary")
                span.glyphicon.glyphicon-th-list
                    |  Major 2 
                    span.caret
                ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                    li
                        a(href="#") ...
                    li 
                        a(href="#") ...
        div.row
            p Minor: (todo)
        div.row
            button.btn.btn-default(type='button', data-toggle='dropdown', class="btn btn-outline-secondary")
                span.glyphicon.glyphicon-th-list
                    |  Minor 
                    span.caret
                ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                    li
                        a(href="#") ...
                    li 
                        a(href="#") ...
        div.row
            p School: (todo)
        div.row
            button.btn.btn-default(type='button', data-toggle='dropdown', class="btn btn-outline-secondary")
                span.glyphicon.glyphicon-th-list
                    |  School 
                    span.caret
                ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                    li
                        a(href="#") College of Arts and Sciences
                    li
                        a(href="#") Engineering and Applied Sciences
                    li 
                        a(href='#') School of Architecture
        div.row
            p Curriculum: (todo)
        div.row
            button.btn.btn-default(type='button', data-toggle='dropdown', class="btn btn-outline-secondary")
                span.glyphicon.glyphicon-th-list
                    |  Curriculum 
                    span.caret
                ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
                    li
                        a(href="#") New College Curriculum
                    li 
                        a(href="#") Forums Curriculum
                    li 
                        a(href='#') Traditional Curriculum
                        
        div.row
            form(method='POST' action='/search')
                input#term(type="hidden",value=1192, name="term")
                div.form-group.form-inline
        div.row
            form(method='POST' action='/profile')
                button.btn.btn-primary(type='submit', onClick='updateUser()') Update                                        
                        
