extends  ../layout

block content
    .container
        div.row
            p Subjects
        //- div.row
        //-     if course_subjects.length == 0
        //-         p(style="font-size: 40px")
        //-             | Results not found
            //- p.vertical=result.subject + ' ' + result.number + ' - ' + result.title
