extends  ../layout

block content
    .container
        div.row
            h1 Explore Subjects
        div.row
            each subject_name, index in course_subjects
                p=subject_name['subject']
                
