extends  ../layout

block content
    .container
        div.row
            h1 Explore Subjects
        div.row
            each subject_name, index in course_subjects
                //- subject_name = course_subjects.split()
                p=subject_name['subject']

                
