extends layout

block customhead
    //- link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    script(src='/js/tablesorter.js')
    script(src="/js/pagination.js")
    link(rel="stylesheet", href="/css/index.css")


block content
    .container
        .row
            .col-md-2
            .col-md-4.first_section
                h1.center.section-title UVA Scheduler
                h4 Designed to integrate Lous List with scheduling tools. The UVA Scheduler makes signing up for classes a breeze.
            .col-md-1
            .col-md-4.second_section
                a.btn.bg-uva-blue(href="/course") Browse Catalog
                .row
                a.btn.bg-uva-blue(href="/index") Explore Subjects
                .row
                a.btn.bg-uva-blue(href="/login") Login or Sign Up
        .row
            p
        .row
            p
        .row
            .col-md-4
                p 
            .col-md-4.third_section
                h1.center.section-title How it works
                ol
                    li Find the classes you want
                    li Add them to your cart
                    li Use one of them to export tools to load your scheduler into SIS!
                //- h3.center 1) Find the classes you want
                //- h3.center 2) Add them to your cart
                //- h3.center 3) Use one of them to export tools to load your scheduler into SIS!
