extends layout

block content
    div.container
        div.row
            h3 Welcome to the app's homepage!
        div.row
            p If you look in views/index.pug, you can see how this page was rendered dynamically using pug.js and pug templates.
        div.row
            p Familiarity with bootstrap is helpful, as you'll be able to more easily decipher how these templates are structured.
<<<<<<< HEAD
            p Something new
=======
            p Hello my name is Sauhil.
>>>>>>> cd9562dc1285e4640d2b7e08fab50d638e527c08
