html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="shortcut icon", href="https://i.gyazo.com/55937316dfda0a175f02c0dc79845bd0.png")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/css/site.wide.style.css", type="text/css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        script(src="/js/url.js")
        if(title)
            title=title + ' | UVA Scheduler'
        else
            title=' | UVA Scheduler'
        block customhead
    body
        // Navigation bar
        nav.navbar.navbar-expand-sm.bg-uva-blue
            a.navbar-brand(href='/', title="Home | UVA Scheduler")
                img(style="max-height:30px", src="https://i.gyazo.com/55937316dfda0a175f02c0dc79845bd0.png")
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent-555' aria-controls='navbarSupportedContent-555' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
                    i.fas.fa-bars.vertical(style="color:white;")
            #navbarSupportedContent-555.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/search')
                            | Search
                    li.nav-item
                        a.nav-link(href='/course')
                            | Explore
                    //li.nav-item.dropdown
                        a#navbarDropdownMenuLink-555.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            | Dropdown
                        .dropdown-menu.dropdown-secondary(aria-labelledby='navbarDropdownMenuLink-555')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action
                            a.dropdown-item(href='#') Something else here
                ul.navbar-nav.ml-auto.nav-flex-icons
                    // -- Creates a "messages" sort of icon -- li.nav-item
                        a.nav-link.waves-effect.waves-light
                            | 1
                            i.fas.fa-envelope
                    if(user)
                        li.nav-item.avatar.dropdown
                            a#navbarDropdownMenuLink-55.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                img.rounded-circle.z-depth-0(src=user.profileImg alt='avatar image' style="max-width:30px;")
                                .dropdown-menu.dropdown-menu-lg-right.dropdown-secondary(aria-labelledby='navbarDropdownMenuLink-55')
                                    a.dropdown-item(href='/profile') My Profile
                                    a.dropdown-item(href='/profile/edit') Edit My Details
                                    a.dropdown-item(href='/logout') Logout
                    else if(title != 'Login')
                        li.nav-item
                            a.nav-link.btn.bg-uva-orange(href="/login")
                                | Login
        // Page content
        block content
    footer
        .footer-container.bg-uva-blue
            pre &nbsp;
            .container
                .row.center
                    .col-sm-10
                        small.row
                            .col-sm-4
                                .col-sm-12
                                    a(href="/") Home
                                .col-sm-12
                                    a(href="/search") Course Search
                            .col-sm-4
                                .col-sm-12
                                    a(href="#") My Requirements
                                .col-sm-12
                                    a(href="#") Suggested Courses
                            .col-sm-4
                                if(user)
                                    .col-sm-12
                                        a(href="/profile") My Profile
                                else
                                    .col-sm-12.center
                                        a(href="/login") Sign in
                                .col-sm-12
                                    a(href="/privacy") Privacy Policy
                                .col-sm-12
                                    a(href="/cookies") Cookie Usage
                    .col-sm-2
                        a(href="https://devhub.virginia.edu", title="Powered by UVA DevHub", target="_blank")
                            img(style="max-width:100px", src="https://i.gyazo.com/09b896c7508bacdbf445ac6d13f3375f.png")
                
            pre &nbsp;
