html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="shortcut icon", href="https://i.gyazo.com/55937316dfda0a175f02c0dc79845bd0.png")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css")
        link(rel="stylesheet", href="/css/site.wide.style.css", type="text/css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
        if(title)
            title=title + ' | UVA Scheduler'
        else
            title=' | UVA Scheduler'
        block customhead
    body
        // Navigation bar
        nav.navbar.navbar-expand-sm.bg-uva-blue
            a.navbar-brand
                a(href="/", title="Home | UVA Scheduler")
                    img(style="max-height:30px", src="https://i.gyazo.com/55937316dfda0a175f02c0dc79845bd0.png")
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item
                    a.nav-link(href="/search") Search
                //li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown Link
                    .dropdown-menu
                        a.dropdown-item Link 4
                        a.dropdown-item Link 3
            div(style="position:absolute; right:20px")
                if(user)
                    a(onclick="$('#profile-menu').toggle('slow');return false;")
                        img.rounded-circle.hover-highlight(src=user.profileImg, style="max-width:35px")
                    div.appearing-box(style="position:fixed;top:60;right:0;")
                        #profile-menu.bg-light(style="display:none;border-radius:10px;padding:10px;")
                            a.btn.btn-elegant(href="/profile", style="width:90px;padding:5px;")
                                small My Profile
                            br
                            a.btn.btn-elegant(href="/profile/edit", style="width:90px;padding:5px;")
                                small Edit Details
                            br
                            a.btn.btn-elegant(href="/logout", style="width:90px;padding:5px;")
                                small Logout
                else if(title != 'Login')
                    // User is not logged in and we're not on the login page, show a login button
                    a.btn.btn-primary(role="button", href="/login") Login

        // Page content
        block content
    footer
        .footer-container.bg-uva-blue
            pre &nbsp;
            .container
                .row
                    .col-md-10
                        small.row
                            .col-md-4
                                .row
                                    a(href="#") Home
                                .row
                                    a(href="#") Course Search
                            .col-md-4
                                .row
                                    a(href="#") My Requirements
                                .row
                                    a(href="#") Suggested Courses
                            .col-md-4
                                if(user)
                                    .row
                                        a(href="/profile") My Profile
                                else
                                    .row
                                        a(href="/login") Sign in
                                .row
                                    a(href="#") Privacy Policy
                                .row
                                    a(href="#") Cookie Usage
                    .col-md-2
                        a(href="https://devhub.virginia.edu", title="Powered by UVA DevHub", target="_blank")
                            img(style="max-width:100px", src="https://i.gyazo.com/09b896c7508bacdbf445ac6d13f3375f.png")
                
            pre &nbsp;
