extends layout

block content
    .container
        .row
            // This code to make a small header is awful. Please don't use this elsewhere.
            h1.display-4
                small
                    small Sign into the UVA Scheduler using one of these providers
        .row
            a.btn(href='/auth/login')
                .logo-btn.hover-highlight.form-inline
                    img(src="https://i.gyazo.com/21f68c897af889dc6120ec663cbb704d.png")
                    .logo-btn-label
                        label.flex-item Sign in with Google
