extends layout

block content
    div.container
        div.row
            h1.display-4
                small='Hi, ' + firstName + '!'
        div.row
            p='Full Name: ' + firstName + ' ' + lastName
        div.row
            p Student ID: (todo)
        div.row
            p Graduation Year: (todo)
        div.row
            p Major: (todo)
        div.row
            <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Major Major 1
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
            </div>
            </div> 
        div.row
            p Major 2: (todo)
        div.row
            <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Major Major 2
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
            </div>
            </div> 
        div.row 
            p Minor: (todo)
        div.row
            <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Minor Minor
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
            </div>
            </div> 
        div.row 
            p Curriculum: (todo)
        div.row
            <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                 Curriculum Curriculum
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">New College Curriculum</a>
            <a class="dropdown-item" href="#">Forums Curriculum</a>
            <a class="dropdown-item" href="#">Traditional Curriculum</a>
            </div>
            </div> 
