extends layout

block content
    div.container
        div.row
            h1.display-4
                small='Hi, ' + firstName + '!'
        div.row
            p='Full Name: ' + firstName + ' ' + lastName
        div.row
            p Student ID: (todo)
        div.row
            p Graduation Year: (todo)
        div.row
            p Major: (todo)
