extends layout

block content
    div.container
        div.row
            h1 User Profile
        div.row
            p Full Name: Sauhil Faraz
        div.row
            p Student ID: Msf8tq
        div.row
            p Graduation Year: 2021
        div.row
            p Major: Computer Science
