extends layout

block customhead
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/fullcalendar.css")
    link(rel="stylesheet", href="/css/timegrid.css")
    script(src='/js/tablesorter.js')
    script(src="/js/pagination.js")
    script(src='/js/chart.js')
    script(src='/js/moment.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.js')

block content
    script.
        $(function() {
            $("#myTable").tablesorter();
        });
    table(id="myTable" class='tablesorter-blue')
        thead
            tr
                th Test 1
                th Test 2
                th Test 3
        tbody
            tr
                td Bob
                td 1
                td A1
            tr
                td Steve
                td 2
                td B2
            tr
                td Billy
                td 3
                td C3
    div(style="column-count:2;column-rule-style:solid;height:400px;")
        div(style="height:100%;")
            canvas(id='sampleChart' style="height:100%;")
            script.
                // This is the graph code.
                var ctx = $('#sampleChart');
                var grades = !{JSON.stringify(grades)};
                var averages = [];
                    sectionList = [];
                    terms = [];
                function chart(grades, ctx){
                    for (var term in grades[0]['grades']) {
                        termGradeDict = grades[0]['grades'][term];
                        terms.push(term);
                        termSections = [];
                        var sum = 0;
                        for (var sect in termGradeDict){
                            termSections.push(sect);
                            sum += parseFloat(termGradeDict[sect][0]);
                        }
                        var termGPA = Math.round((sum*1.0/Object.keys(termGradeDict).length)*100)/100;
                        averages.push(termGPA);
                        sectionList.push((term,termSections));
                    }
                    console.log(sectionList);
                    var ctx = $('#sampleChart');

                    var data = {
                        labels: terms,
                        datasets:[
                            {
                            label:"GPA",
                            fill: false,
                            pointRadius: 5,
                            borderColor:'#007bff',
                            data: averages,
                            }
                        ]
                    };

                    var options = {
                        legend:{
                            display:false,
                        },
                        responsiveness:true,
                        maintainAspectRatio:false,
                        scales :{
                            yAxes:[{
                                ticks:{
                                    beginAtZero:true,
                                    max:4,
                                },
                            }],
                        },
                    };


                    var myLineChart = new Chart(ctx, {
                        type: 'line',
                        data: data,
                        options: options,
                    });
                }

                window.onload = function(){
                    chart(grades, ctx);
                }
        div(style="width:100%;background-color:blue;")
    div(id="calendar" style="width:500px;height:500px")
    script.
        // This is calendar code.
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
              plugins: [ 'timeGrid' ],
              defaultView: 'timeGridWeek',
              nowIndicator:true,
              allDaySlot:false,
              columnHeaderFormat:{
                  weekday:'short',
              },
              minTime:"08:00:00",
              header:{
                  left:'',
                  center:'',
                  right:'',
              },
              events:[
                {
                    title:'CS2150',
                    start:moment(moment().day(1).format("YYYY-MM-DD")+"T"+"12:00").format(),
                    end:moment(moment().day(1).format("YYYY-MM-DD")+"T"+"12:50").format(),
                },
                {
                    title:'CS2150',
                    start:moment(moment().day(3).format("YYYY-MM-DD")+"T"+"12:00").format(),
                    end:moment(moment().day(3).format("YYYY-MM-DD")+"T"+"12:50").format(),
                },
                {
                    title:'CS2150',
                    start:moment(moment().day(5).format("YYYY-MM-DD")+"T"+"12:00").format(),
                    end:moment(moment().day(5).format("YYYY-MM-DD")+"T"+"12:50").format(),
                }
              ]
            });

            calendar.render();
      });
      var course = {
          term: '1198',
          sis_id: '15492',
          subject: 'CS',
          catalog_number: '2150',
          folder: ''
      }

      var saveData = $.ajax({
          type: 'GET',
          url: "/api",
          data: {
              action: 'grades',
              course: course,
          },
          dataType: "text",
          success: res => { console.log("AJAX responded " + res) }
      });
            
            
