.first_box{
    font-size: 20px;
    }


.second_box{
    font-size: 20px;
}

.third_box{
    font-size: 20px;
}

.fourth_box{
    font-size: 20px;
}

.fifth_box{

    font-size: 20px;
}

.sixth_box{
    font-size: 20px;
}

.seventh_box{
    font-size: 20px;
}

.eigth_box{
    font-size: 20px;
}

.ninth_box{
    font-size: 20px;
}

.tenth_box{
    font-size: 20px;
}

.eleventh_box{
    font-size: 20px;
}
