#home_description{
    text-align: center;
    line-height: 1.8;
}

#home_buttons{
    text-align: center;
    line-height: 10;
}

#site_information{
    font-size: 20px;
    text-align: center;
}

#calendar_image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width:1024px) {
  #calendar_image {
    display: none;
  }
}
