h1 {
  font-size: 30px;
}

tr:nth-child(even) {
    background-color: #f8f8ff;
}

.search_result{
    width: 70%;
}

.calendar{
    width: 30%;
}

.btn.btn-success{
    width: 150px;
    height: 60px;
}
