/*

Any styling that you'd like applied to the entire webapp can be placed into this file! :)

*/

.hover-highlight {
    transition: all 0.3s ease-in-out;
}

.hover-highlight:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.05, 1.05);
}

.flex-item {
    margin: 0;
    color: inherit;
}

.logo-btn {
    border: 1.75px solid rgb(66, 133, 244);
    /* Default is Google Blue. Override if necessary */
}

.logo-btn .logo-btn-label {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    /* Default is Google Blue. Override if necessary */
    background-color: rgb(66, 133, 244);
    /* Default text color is white. Override if necessary */
    color: white;
}

.logo-btn img {
    max-width: 40px;
    background-color: white;
    padding 2px;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

.appearing-box {
    border-radius: 10px;
    position: absolute;
    top: 0;
    padding: 10px;
}

.appearing-box div {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;
    box-shadow: 0 -5px 3px 2px #232d4b;
}

.footer-container {
    width: 100%;
}

.center {
    text-align: center;
}

.wide {
    width: 100%;
}

.vertical {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bg-uva-blue {
    background-color: #232d4b;
    color: #e2e2e2;
}

.bg-uva-blue:hover {
    color: white;
}

.bg-uva-blue a {
    color: #e2e2e2;
}

.bg-uva-orange {
    background-color: #e57200;
    color: #212529;
}

.bg-uva-orange:hover {
    color: black;
}

.outline {
    border: 1px solid white;
}

.section-title {
    width: 96%;
    padding-bottom: 2px;
    border-bottom: 2px inset #212529;
    transform: translateX(+2%);
}
