/*

Any styling that you'd like applied to the entire webapp can be placed into this file! :)

*/

.hover-highlight {
    transition: all 0.3s ease-in-out;
}

.hover-highlight:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.2, 1.2);
}
