/*

Any styling that you'd like applied to the entire webapp can be placed into this file! :)

*/

.hover-highlight {
    transition: all 0.3s ease-in-out;
}

.hover-highlight:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.05, 1.05);
}

.flex-item {
    margin: 0;
    color: inherit;
}

.logo-btn {
    border: 1.75px solid rgb(66, 133, 244);
    /* Default is Google Blue. Override if necessary */
}

.logo-btn .logo-btn-label {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
    /* Default is Google Blue. Override if necessary */
    background-color: rgb(66, 133, 244);
    /* Default text color is white. Override if necessary */
    color: white;
}

.logo-btn img {
    max-width: 40px;
    background-color: white;
    padding 2px;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

.appearing-box {
    border-radius: 10px;
    position: absolute;
    top: 0;
    padding: 10px;
}

.appearing-box div {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 5px 0 #343a40;
}

.footer-container {
    width: 100%;
}

.center {
    text-align: center;
}
