extends  ../layout

block customhead
    script(src='/js/chart.js')
    script(src='/js/grade_chart.js')
    link(rel="stylesheet", href="/css/tablesorter.theme.blue.css")
    link(rel="stylesheet", href="/css/course_style_sheet.css")
    link(rel="stylesheet", href="/css/chart.css")
    script(src='/js/ajax.js')
    script(src="/js/pagination.js")

block content
    .container
        script.
            var maxPage = !{max_page || 1} - 1;
        .row(style="margin-top:10px;")
            p#subject(style="display:none;")=subject
            p(style="display:inline;")=" "
            p#catalog_number(style="display:none;")=catalog_number
        .row
            .col-md-12#results
        .row
            .col-md-6
                div(style='height:350px;')
                    canvas.tall(id='overallChart')
            .col-md-6
                select.form-control(id='profSelect' style="margin-bottom:10px;")
                div
                    canvas(id='profChart' height="302px;")
            
        
            
    
             
             
             
             
